/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */
   

#apple-pie-container {
  margin: 20px 500px;

}

#apple-pie {
  background-image: url("../images/apple-pie.jpg");
  background-size: cover;
  height: 400px;
  width: 700px;
}

#apple-pie h1 {
  color: white;
  padding: 150px 250px;
  font-size: 45px;
}

#apple-pie-container p {
  text-align: center;
  width: 700px;
  font-size: 20px;
  padding-inline-start: 20px auto;

}

#apple-pie-container hr {
  padding: 150px auto;
  width: 700px;
}
